<h1>PIRATES!!!</h1>
<form action= "/pirates" method= "post">
<label for= "pirate_name">Pirate Name:</label> 
<input type= "string" name= "pirate[name]">
<label for= "weight">Weight:</label>
<input type= "string" name= "pirate[weight]">
<label for= "height">Height:</label>
<input type= "string" name= "pirate[height]">
<label for= "ship_name_1">Ship Name:</label>
<input type= "string" id= "ship_name_1" name= "pirate[ships][][name]">
<label for= "type">Type:</label>
<input type= "string" id= "ship_type_1" name= "pirate[ships][][type]">
<label for= "booty">Booty:</label>
<input type= "string" id= "ship_booty_1" name= "pirate[ships][][booty]">
<label for= "ship_name">Ship Name:</label>
<input type= "string" id= "ship_name_2" name= "pirate[ships][][name]">
<label for= "type">Type:</label>
<input type= "string" id= "ship_type_2" name= "pirate[ships][][type]">
<label for= "booty">Booty:</label>
<input type= "string" id= "ship_booty_2" name= "pirate[ships][][booty]">
<button type= "submit" value= "Submit">
</form>